@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>

@{
    ViewBag.Title = "Search Catalog";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
    int x = 0;
}

<h2>@ViewBag.Title</h2>
<a href="@ViewBag.ReturnURL">Back</a>
@using (Html.BeginForm("Filter", "Product"))
{
    <p>
        Search: <input type="text" name="searchString" />
        <input type="submit" />
    </p>
}
<table class="table" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr data-name="@item.productName" data-description="@item.productDescription"
            data-price="@item.productPrice" data-id="@item.productID">
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
            <td>
                <input type="number" min="0" max="@item.productQty" />
            </td>
            <td>
                <input type="button" id="@("button"+x)" value="Add to Cart" onclick="addItemsToCart(this)" />
            </td>
        </tr>
        x++;
    }
</table>
<script>
    function addItemsToCart(button) {
        var id = $(button).parent().parent().data("id");
        var price = $(button).parent().parent().data("price");
        var qtyPickerIndex = $(button).parent().siblings().length - 1;
        var qty = $(button).parent().siblings()[qtyPickerIndex].children[0].value;
        var url = '@Url.Action("Index", "UserQuery")';
        //?productPrice='+id+'&productID=='+price+'&quantity='+qty;
        $.ajax({
            type: "POST",
            url: url,
            data: { productPrice: price, productID: id, quantity: qty },
            dataType: "json",
        });
    }
    //, productId: '"+id+"', quantity: '"+qty+"' }"
</script>