@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>

@{
    ViewBag.Title = "Search Catalog";
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
}

@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<a href="@ViewBag.ReturnURL">Back</a>
@using (Html.BeginForm("Filter", "Product"))
{
    <p>
        Search: <input type="text" name="searchString" />
        <input type="submit" />
    </p>
}
<table class="table" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
            <td id="quantities">
                <input type="number" min="0" max="@item.productQty" />
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "AddItemToCart", "UserQuery", new { product=item }, null)
            </td>
            @*<td><a href="#" onclick="window.location.href = '@Url.Action("AddItem", "ShoppingCart")'
        + '?productID=@item.productID' + '?quantity=' + $('quantity').val()">Add to Cart</a></td>*@
        </tr>
    }
</table>
<script>

</script>
