@model Group15_iCLOTHINGApp.Models.Administrator

@using (Html.BeginForm("Validate", "AdminLogin"))
{
    <span>Admin Name</span>
    @Html.EditorFor(model => model.adminName)
    @Html.ValidationMessageFor(model => model.adminName, "", new { @class = "text-danger" })
    <br />
    <span>Password</span>
    @Html.EditorFor(model => model.adminEncryptedPassword, new { htmlAttributes = new { type = "password" } })
    @Html.ValidationMessageFor(model => model.adminEncryptedPassword, "", new { @class = "text-danger" })
    <br />
    <input type="submit" value="Login" />
}

@if (TempData["Message"] != null)
{
    <span style="color:red;">@TempData["Message"].ToString()</span>
}