@{
    ViewBag.Title = "About";
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
}
@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <hr />
    <a href="@ViewBag.ReturnUrl">Back</a>
    <br /><br />
    <h4>@ViewBag.WelcomeMessage</h4>
    <p>@ViewBag.Message</p>
    <br />
    <p>@ViewBag.ThankYou</p>
</main>