@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="row" aria-labelledby="homeTitle">
    <h1 id="title">Welcome!</h1>
    <br />
    <h4>Catalog</h4>
</section>
<ul>
    <li>@Html.ActionLink("Brand Create", "Create", "Brand", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Category Create", "Create", "Category", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Department Create", "Create", "Department", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Product Create", "Create", "Product", new { area = "" }, new { @class = "nav-link" })</li>
</ul>
<table class="table" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
        </tr>
    }
</table>

