@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>

@{
    ViewBag.Title = "Catalog";
}
@{
    if (Session["UserID"] != null)
    {
        Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Request.UrlReferrer != null)
    {
        ViewBag.ReturnUrl = Request.UrlReferrer.ToString();
    }
} 

<h2>@ViewBag.Title</h2>
<hr />
<a href="@ViewBag.ReturnURL">Back</a>
<table class="table" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr data-name="@item.productName" data-price="@item.productPrice" data-id="@item.productID">
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
            <td>
                <input type="number" min="0" max="@item.productQty" />
            </td>
            <td>
                <input type="button" value="Add to Cart" onclick="addItemsToCart(this)" />
            </td>
        </tr>
    }
</table>
<script>
    function addItemsToCart(button) {
        var id = $(button).parent().parent().data("id");
        var price = $(button).parent().parent().data("price");
        var name = $(button).parent().parent().data("name");
        var qtyPickerIndex = $(button).parent().siblings().length - 1;
        var qty = $(button).parent().siblings()[qtyPickerIndex].children[0].value;
        var url = '@Url.Action("Index", "ShoppingCart")';
        $.ajax({
            type: "POST",
            url: url,
            data: { add_removeFlag: true, productPrice: price, productID: id, productName: name, quantity: qty },
            dataType: "json",
            cache: false
        });
    }
</script>
