@model IEnumerable<Group15_iCLOTHINGApp.Models.Product>

@{
    ViewBag.Title = "Catalog";
}
@if (Session["UserID"] != null)
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}
else if (Session["AdminID"] != null)
{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<table class="table" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>In Stock</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
        </tr>
    }
</table>
