@model IEnumerable<Group15_iCLOTHINGApp.Models.OrderStatus>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/Stylesheets/AdminManageStyleSheet.css">
<h2>Order Status</h2>
<br />
<hr />
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            <p>Order Status</p>
        </th>
        <th>
            <p>Date Ordered</p>
        </th>
        <th>
            <p>Alter Order</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderStatus1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OrderStatus", new { id = item.statusID }) |
                @Html.ActionLink("Details", "Details", "OrderStatus", new { id = item.statusID }) 
            </td>
        </tr>
    }

</table>
