@using Group15_iCLOTHINGApp.Models;
@model Tuple<string, List<ShoppingCart>, string, string>
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
    decimal totalPrice = 0;
    int totalItems = 0;
    foreach (var item in Model.Item2)
    {
        totalPrice += item.cartProductPrice * item.cartProductQty;
        totalItems += item.cartProductQty;
    }
    ViewBag.CartTotal = totalPrice;
    ViewBag.TotalItems = totalItems;
}

<h2>Order #@Model.Item1 Summary</h2>
@Html.ActionLink("Back to Home", "Index", "Home")
<hr />
<b>@Html.Label("Item Count")</b>
<hr />
<p>@ViewBag.TotalItems</p>
<br />
<b>@Html.Label("Total")</b>
<hr />
<p>$@ViewBag.CartTotal</p>
<br />
<b>@Html.Label("Customer")</b>
<hr />
<p>@Model.Item3</p>
<br />
<b>@Html.Label("Estimated Delivery")</b>
<hr />
<p>@Model.Item4</p>
