@model IEnumerable<Group15_iCLOTHINGApp.Models.OrderStatus>
@{
    ViewBag.Title = "ManageOrders";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Stylesheets/TableView.css">
<h2>Manage Orders</h2>
<hr /><br />
<div class="custom-container">
    <table class="table" cellspacing="5">

        <tr>
            <th>Customer ID</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Status ID</th>
            <th>Admin Updated</th>
            <th></th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.customerID</td>
                <td>@order.orderStatus1</td>

                @if (order.statusDate <= DateTime.Now.AddDays(-7) && order.orderStatus1 == "Shipped")
                {
                    order.orderStatus1 = "Delivered";
                }
                <td>@order.statusDate</td>
                <td>@order.statusID</td>
                <td>
                    @order.adminUpdated
                </td>
                <td>
                    @if (order.orderStatus1 == "Paid")
                    {
                        @Html.ActionLink("Approve", "ApproveOrder", "Administrator", new { statusID = order.statusID }, new { @class = "nav-link" })
                    }
                </td>
            </tr>
        }
    </table>
</div>
