@model IEnumerable<Group15_iCLOTHINGApp.Models.ShoppingCart>

@{
    ViewBag.Title = "Index";
}
@if (Session["UserID"] == null)
{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cartProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cartProductQty)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cartProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cartProductQty)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cartID }) |
                @Html.ActionLink("Details", "Details", new { id = item.cartID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cartID })
            </td>
        </tr>
    }

</table>
