@model Group15_iCLOTHINGApp.Models.UserPassword

@using (Html.BeginForm("Validate", "UserLogin"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("User Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userAccountName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.userAccountName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.userEncryptedPassword, new { htmlAttributes = new { @class="form-control", @type="password" } })
                @Html.ValidationMessageFor(model => model.userEncryptedPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="loginButton" value="Login" onclick="checkError(this)"/>
                <p>@Html.ActionLink("Register", "Create", "UserPassword", null, null)</p>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
        </div>
    </div>
}
@*<script>
    function checkError(loginButton) {
        debugger;
        username = $("#userAccountName").val();
        passwrd = $("#userEncryptedPassword").val();
        if (username == '' && passwrd == '') {
            @ViewBag.ErrorMessage = "Input fields required";
        }
        if (username == '') {
            @ViewBag.ErrorMessage = "Username required";
        }
        else if (passwrd == '') {
            @ViewBag.ErrorMessage = "Password required";
        }
    }
</script>*@